<mat-grid-list cols="3" rowHeight="600px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Móvil</mat-card-title>
              <mat-card-subtitle>iPhone 11 Pro</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="..\..\assets\iphone.jpg" alt="Foto de iPhone">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Portátil</mat-card-title>
              <mat-card-subtitle>Asus Vive</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="..\..\assets\portatil.jpg" alt="Foto portatil">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Tacones</mat-card-title>
              <mat-card-subtitle>Elegantes</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="..\..\assets\tacones.jpg" alt="Foto tacones">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Calefactor</mat-card-title>
              <mat-card-subtitle>Toshiba</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="..\..\assets\calefactor.jpg" alt="Foto calefactor">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Ventilador</mat-card-title>
              <mat-card-subtitle>Bosch</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="..\..\assets\ventilador.jpg" alt="Foto ventilador">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Nintendo</mat-card-title>
              <mat-card-subtitle>Switch</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="..\..\assets\nintendo.jpg" alt="Foto nintendo-switch">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
  </mat-grid-list>
