<mat-grid-list cols="3" rowHeight="700px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Móvil</mat-card-title>
              <mat-card-subtitle>iPhone 11 Pro</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/iphone.jpg" alt="Foto de iPhone">
            <mat-card-content>
              <p>
                Sumérgete en la tecnología de vanguardia con el iPhone. Diseñado para ofrecer un rendimiento excepcional y una experiencia de usuario fluida, 
                el iPhone redefine la manera en que interactuamos con la tecnología móvil. Con su elegante diseño, potente procesador y cámara de alta calidad, 
                el iPhone es el compañero perfecto para mantenerte conectado, productivo y entretenido en todo momento.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Portátil</mat-card-title>
              <mat-card-subtitle>Asus Vive</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/portatil.jpg" alt="Foto portatil">
            <mat-card-content>
              <p>
                Experimenta la libertad y la versatilidad con nuestro portátil ultradelgado. Con un rendimiento excepcional y un diseño elegante, 
                nuestro portátil es perfecto para el trabajo, el estudio o el entretenimiento sobre la marcha. Equipado con potentes especificaciones y características innovadoras, 
                nuestro portátil te permite hacer más, dondequiera que vayas, con estilo y comodidad.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Tacones</mat-card-title>
              <mat-card-subtitle>Elegantes</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/tacones.jpg" alt="Foto tacones">
            <mat-card-content>
              <p>
                Eleva tu estilo con nuestros tacones elegantes y sofisticados. Con su diseño moderno y detalles de alta calidad, 
                nuestros tacones son el complemento perfecto para cualquier ocasión, desde eventos formales hasta salidas casuales. 
                Con una combinación de estilo y comodidad, nuestros tacones te permiten destacar con confianza y elegancia en cada paso que das.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Calefactor</mat-card-title>
              <mat-card-subtitle>Toshiba</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/calefactor.jpg" alt="Foto calefactor">
            <mat-card-content>
              <p>
                Mantén tu hogar cálido y acogedor con nuestro calefactor de última generación. Con su diseño compacto y potente rendimiento, 
                nuestro calefactor es perfecto para cualquier espacio, desde salas de estar hasta dormitorios. Con características de seguridad avanzadas y controles intuitivos, 
                nuestro calefactor ofrece un calor rápido y eficiente para mantener la comodidad en los días fríos.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Ventilador</mat-card-title>
              <mat-card-subtitle>Bosch</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/ventilador.jpg" alt="Foto ventilador">
            <mat-card-content>
              <p>
                Refréscate y disfruta de la brisa fresca en cualquier momento con nuestro ventilador de alta calidad. 
                Diseñado para proporcionar un flujo de aire potente y silencioso, nuestro ventilador es ideal para mantener una temperatura agradable en cualquier habitación. 
                Con su diseño elegante y funciones ajustables, nuestro ventilador es la solución perfecta para mantener la frescura durante los días calurosos de verano.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Nintendo</mat-card-title>
              <mat-card-subtitle>Switch</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/nintendo.jpg" alt="Foto nintendo-switch">
            <mat-card-content>
              <p>
                Descubre un mundo de diversión y aventura con Nintendo Switch. Esta innovadora consola híbrida te permite jugar tus juegos favoritos en casa o mientras estás en movimiento. 
                Con su versatilidad única, la Nintendo Switch ofrece experiencias de juego únicas para jugadores de todas las edades. Ya sea en modo portátil, 
                en modo de sobremesa o en modo tabletop, la Nintendo Switch ofrece una experiencia de juego inmersiva que se adapta a tu estilo de vida.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Comprar</button>
              <button mat-button>Guardar</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
  </mat-grid-list>
